# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Models and pickles
*.pkl
*.h5
*.h5py

# OS metadata
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.local
.env.*
# Logs
logs-*.txt

# Documents
*.docx
*.pdf
*.doc
*.wpf
